on early-init
# mount debugfs
    mount debugfs /sys/kernel/debug /sys/kernel/debug

# create storage
    mkdir /storage 0050 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard1 0000 system system
    mkdir /rom 0777 root root
    mkdir /mnt/usbdisk 0000 system system

    symlink /mnt/usbdisk /usbdisk
    symlink /storage/sdcard0 /mnt/emmc
    symlink /storage/sdcard0 /emmc
    symlink /storage/sdcard1 /sdcard
    symlink /storage/sdcard1 /mnt/sdcard

    export EXTERNAL_STORAGE /storage/sdcard1
    export SECONDARY_STORAGE /storage/sdcard0
    export DOWNLOAD_CACHE /cache/download
    export PHONE_STORAGE /storage/sdcard0
    export DSP_PATH /system/lib/dsp
    export DEFAULT_BASEIMAGE /system/lib/dsp/baseimage.dof

on init
# power management
# Enable off mode by default
    write /sys/kernel/debug/pm_debug/enable_off_mode 1

# Enable Smart Reflex in debugfs
    write /sys/kernel/debug/pm_debug/smartreflex/sr_core/autocomp 1
    write /sys/kernel/debug/pm_debug/smartreflex/sr_iva/autocomp 1
    write /sys/kernel/debug/pm_debug/smartreflex/sr_mpu/autocomp 1

on fs
# mount partitions
    mount ext4 /dev/block/mmcblk0p5 /system wait 
    mount ext4 /dev/block/mmcblk0p5 /system wait ro remount
    mount ext4 /dev/block/mmcblk0p6 /data wait noatime nosuid nodev errors=continue
    mount ext4 /dev/block/mmcblk0p7 /cache wait noatime nosuid nodev errors=continue
    mount vfat /dev/block/mmcblk0p2 /rom sync noatime nodiratime uid=1000,gid=1000,fmask=117,dmask=007

on post-fs
# Load Modules
    insmod /system/lib/modules/compat.ko
    insmod /system/lib/modules/cfg80211.ko
    insmod /system/lib/modules/mac80211.ko
    insmod /system/lib/modules/wl12xx.ko

# adbd for debug
    write /sys/class/android_usb/android0/iManufacturer "BN"
    write /sys/class/android_usb/android0/iProduct "BN Nook Color"
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 0D02
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state adb

on post-fs-data
    setprop vold.post_fs_data_done 1

    chmod 0777 /dev/DspBridge

    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /dev/ttyS1

    mkdir /data/tmp 0777 system system
    symlink /data/tmp /tmp

    mkdir /data/trace 0777 system system
    chmod 0777 /data/trace

    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

# switch CPUfreq from performance to interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/hotplug/down_threshold 30

# Set default maximum of 1008 on cpu0 (peformance settings will change this if set by user)
#    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1008000

#Give system ownership and permission to boost clock for specified timeout
#Note boost_timeout cannot be changed from application because of dynamic sysfs creation. It will have default value of 3 sec.
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq
    chmod 0664  /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_driver
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chmod 0664  /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq
    chmod 0664  /sys/devices/system/cpu/cpu0/cpufreq/scaling_driver
    chmod 0664  /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664  /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664  /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664  /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed

# Boost the CPU for 5 sec for boot optimization
    write /sys/devices/system/cpu/cpufreq/hotplug/boost_timeout 5000000
    write /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq 1

# Allow everybody to read the xt_qtaguid resource tracking misc dev.
# This is needed by any process that uses socket tagging.
    chmod 0644 /dev/xt_qtaguid

# make dir for cache
    mkdir /cache/download 0777 system system

# We chown/chmod /data again so because mount is run as root + defaults
    chown system system /data
    chmod 0771 /data

# change permissions for alsa nodes
    chmod 0777 /dev/snd/controlC0
    chmod 0777 /dev/snd/pcmC0D0c
    chmod 0777 /dev/snd/pcmC0D0p
    chmod 0777 /dev/snd/pcmC0D1c
    chmod 0777 /dev/snd/pcmC0D1p
    chmod 0777 /dev/snd/pcmC0D2c
    chmod 0777 /dev/snd/pcmC0D2p
    chmod 0777 /dev/snd/pcmC0D3c
    chmod 0777 /dev/snd/pcmC0D3p
    chmod 0777 /dev/snd/pcmC0D4c
    chmod 0777 /dev/snd/pcmC0D4p
    chmod 0777 /dev/snd/pcmC0D5c
    chmod 0777 /dev/snd/pcmC0D5p
    chmod 0777 /dev/snd/pcmC0D7p
    chmod 0777 /dev/snd/timer

# change permissions for i2c-2 device
    chmod 0660 /dev/i2c-2
    chown media media /dev/i2c-2

# change permissions for Tiler driver
    chmod 0777 /dev/tiler
    chmod 0777 /dev/dmm

# change permissions for ION driver
    chmod 0777 /dev/ion
        
# Permissions for Overlay
    chmod 0777 /dev/video6
    chmod 0777 /dev/video10
    chmod 0777 /sys/devices/platform/dsscomp/isprsz/enable

# change permissions for overlay managers and display devices
    chmod 0777 /sys/devices/platform/omapdss/manager0/name
    chmod 0777 /sys/devices/platform/omapdss/manager1/name
    chmod 0777 /sys/devices/platform/omapdss/display0/name
    chmod 0777 /sys/devices/platform/omapdss/display0/enabled
    chmod 0777 /sys/devices/platform/omapdss/display0/timings
    chmod 0777 /sys/devices/platform/omapdss/overlay0/manager
    chmod 0777 /sys/devices/platform/omapdss/overlay1/manager
    chmod 0777 /sys/devices/platform/omapdss/overlay2/manager
    chmod 0777 /sys/devices/platform/omapdss/overlay0/enabled
    chmod 0777 /sys/devices/platform/omapdss/overlay1/enabled
    chmod 0777 /sys/devices/platform/omapdss/overlay2/enabled

# change permissions for overlay managers and display devices
    chown system system /sys/devices/platform/omapdss/display0/enabled
    chown system system /sys/devices/platform/omapdss/display1/enabled
    chown system system /sys/devices/platform/omapdss/display2/enabled
    chown system system /sys/devices/platform/omapdss/display3/enabled
    chown system system /sys/devices/platform/omapdss/display0/name
    chown system system /sys/devices/platform/omapdss/display1/name
    chown system system /sys/devices/platform/omapdss/display2/name
    chown system system /sys/devices/platform/omapdss/display3/name
    chown system system /sys/devices/platform/omapdss/overlay0/manager
    chown system system /sys/devices/platform/omapdss/overlay1/manager
    chown system system /sys/devices/platform/omapdss/overlay2/manager
    chown system system /sys/devices/platform/omapdss/overlay3/manager
    chown system system /sys/devices/platform/omapdss/overlay0/zorder
    chown system system /sys/devices/platform/omapdss/overlay1/zorder
    chown system system /sys/devices/platform/omapdss/overlay2/zorder
    chown system system /sys/devices/platform/omapdss/overlay3/zorder
    
# change permissions for manager tranparency parameters
    chown system system /sys/devices/platform/omapdss/manager0/name
    chown system system /sys/devices/platform/omapdss/manager0/display
    chown system system /sys/devices/platform/omapdss/manager1/name
    chown system system /sys/devices/platform/omapdss/manager1/display
    chown system system /sys/devices/platform/omapdss/manager2/name
    chown system system /sys/devices/platform/omapdss/manager2/display
    chown system system /sys/devices/platform/omapdss/overlay0/enabled
    chown system system /sys/devices/platform/omapdss/overlay1/enabled
    chown system system /sys/devices/platform/omapdss/overlay2/enabled
    chown system system /sys/devices/platform/omapdss/overlay3/enabled
    
# change permissions for display timings to get the resolutions
    chown system system /sys/devices/platform/omapdss/display0/timings
    chown system system /sys/devices/platform/omapdss/display1/timings
    chown system system /sys/devices/platform/omapdss/display2/timings
    chown system system /sys/devices/platform/omapdss/display3/timings
    chown system system /sys/devices/platform/omapdss/display2/code

# SGX driver
    chmod 0666 /dev/pvrsrvkm

#Set read_ahead buffers
    write /sys/block/mmcblk0/bdi/read_ahead_kb 1024
    write /sys/block/mmcblk1/bdi/read_ahead_kb 1024

    # There's no back seek penalty on MMC
    write /sys/devices/platform/omap/omap_hsmmc.1/mmc_host/mmc0/mmc0:0001/block/mmcblk0/queue/iosched/back_seek_penalty 0
    # Allow us to seek up to 1GB back
    write /sys/devices/platform/omap/omap_hsmmc.1/mmc_host/mmc0/mmc0:0001/block/mmcblk0/queue/iosched/back_seek_max 1048576
    # Only pick one request from each queue at each round robin
    write /sys/devices/platform/omap/omap_hsmmc.1/mmc_host/mmc0/mmc0:0001/block/mmcblk0/queue/iosched/quantum 1

# change permissions for mtd device
    chmod 0660 /dev/mtd/mtd0
    chown media media /dev/mtd/mtd0

# change permissions for Tiler driver
    chmod 0777 /dev/tiler
    chmod 0777 /dev/dmm

on boot
    setprop ro.radio.noril yes

on property:dev.bootcomplete=1
    start bootcnt
    class_start default

#service fixmac /system/bin/fix-mac.sh
#    class core
#    user root
#    group root
#    oneshot

# Initialize the SGX driver
service pvrsrvinit /system/vendor/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

# Update the battery data heuristics every hour
service logbatterydata /system/bin/battery_log.sh
    class core
    user root
    group root

# encore specific services start here
service bootcnt /system/bin/clear_bootcnt.sh
    class core
    user root
    group root
    disabled
    oneshot

#service uim /system/bin/uim-sysfs
#    class core
#    user root
#    group media bluetooth
#    oneshot

#service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
service p2p_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    disabled
    oneshot

# load DSP firmware
# disable by river  // FIXME FIXME
#service baseimage /system/bin/dspexec /system/lib/dsp/baseimage.dof
#    class main
#    user root
#    group root
#    oneshot

on property:sys.boot_completed=1
    log "== init.encore.rc: on property:sys.boot_completed=1 -----------------------"


